:root {
  --rufous-500: #9c0701;
  --ivory-100: #ffffff;
  --ivory-500: #f5f9e9;
  --ivory-900: #c2c6b7;
  --sage-500: #c2c1a5;
  --onyx-900: #13181b;
  --blackChocolate-500: #1e1b18;
  --blackChocolate-900: #000000;

  --textLigth: 300;
  --textRegular: 400;
  --textSemibold: 600;
  --titleRegular: 400;
  --titleSemibold: 600;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--ivory-500);
}
