:root {
    --rufous-500: #9C0701;
    --ivory-100: #ffffff;
    --ivory-500: #f5f9e9; 
    --ivory-900: #c2c6b7;
    --sage-500: #C2C1A5;
    --onyx-900: #13181b;
    --blackChocolate-500: #1E1B18;
    --blackChocolate-900: #000000;

    --textLigth: 300;
    --textRegular: 400;
    --textSemibold: 600;
    --titleRegular: 400;
    --titleSemiboldItalic: 600;
}

html {
    scroll-behavior: smooth;
}