@import './utilities/variables';
@import './utilities/functions';
@import './utilities/mixins';

.content__separator {
  height: 1px;
  background-color: var(--blackChocolate-500);
}

.header {
  border-bottom: 1px solid var(--blackChocolate-500);
  margin-bottom: toRem(257);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $mobileBodyMargin;

  @media screen and (min-width: $largeScreen) {
    padding-inline: $desktopBodyMargin;
  }
}

.header__hero__container {
  padding: toRem(20) $mobileBodyMargin toRem(84);
  position: relative;

  @media screen and (min-width: $largeScreen) {
    padding: toRem(40) $desktopBodyMargin toRem(200);
  }
}

.header__hero__churchName {
  @media screen and (max-width: $mediumScreen) {
    display: none;
  }

  position: absolute;
  max-width: toRem(255);
  
  font-size: toRem($titleSizeLarge);
  font-family: $titleFont;
  font-weight: var(--fontSemibold);
  text-transform: uppercase;
  color: var(--sage-500);
  opacity: .3;

  & span {
    display: block;
    margin-bottom: toRem(20);
  }
}

.header__hero__banner {
  width: toRem(220);
  height: toRem(225);

  background-image: url('/images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: calc(220px / 3);
  filter: contrast(.35);
  
  position: absolute;
  top: toRem(20);
  right: 0;
  z-index: -2;

  @media screen and (min-width: $largeScreen) {
    width: toRem(510);
    height: toRem(440);
    top: toRem(40);

    background-position-x: -$desktopBodyMargin;
  }
}

.header__hero__citation {
  text-transform: uppercase;
  font-size: toRem($textSizeLarge);
  text-align: center;

  width: calc(100vw - $mobileBodyMargin * 2);
  max-width: $smallScreen;
  margin: toRem(84) auto toRem(50);

  @media screen and (min-width: $largeScreen) {
    font-size: toRem($titleSizeSmall);
    width: max-content;
    max-width: toRem(848);
  }
}

@mixin citationDecorationBackground {
  content: '';
  position: absolute;
  height: 100%;
  z-index: -1;
  background-image: url('/images/brush-line-1.png');
  background-repeat: no-repeat;
  background-size: 100% 70%;
}

.header__hero__citation__decoration {
  font-weight: var(--fontSemibold);
  font-style: italic;

  @media screen and (min-width: $largeScreen) {
    position: relative;

    &::before {
      @include citationDecorationBackground;
      left: 25%;
      width: 100%;
      background-position-y: 175%;
    }
  }
}

.header__hero__citation__decoration--mobile {
  position: relative;

  &::before {
    @include citationDecorationBackground;
    bottom: 0;
    width: 110%;
    background-position-y: 150%;
    
    @media screen and (min-width: $largeScreen) {
      background-image: none;
    }
  }
}

.header__hero__citation__author {
  text-transform: capitalize;
  font-family: $titleFont;
  font-size: toRem(32);
  font-weight: var(--fontRegular);
  text-align: center;
}

@keyframes pumping {
  from {
    transform: translateY(-15%) scale(.95);
  }
  to {
    transform: translateY(0%) scale(1);
  }
}
.header__seeMore__button {
  @media screen and (max-width: $mediumScreen) {
    display: none;
  }
  
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  bottom: $desktopBodyMargin - 35px;
  left: $desktopBodyMargin - 35px;

  & img {
    display: block;
    width: auto;
    height: toRem(35);
    animation: pumping 1s cubic-bezier(.12,.69,.97,.65) infinite alternate;
  }

  &::before {
    content: '';
    width: toRem(37);
    height: toRem(37);
    position: absolute;
    bottom: 0%;
    left: -50%;
    transform: translate(55%, 30%);
    border-radius: 50%;
    border: 1px solid var(--rufous-500);
  }

  & span {
    display: block;
    width: max-content;
    height: toRem(16);
    transform: rotate(-90deg) translate(50%, -75%);
    
    font-size: toRem(12);
    color: var(--rufous-500);
    font-weight: var(--fontLigth);
    text-transform: uppercase;
  }
}

.section {
  @include section-decoration;
  
  position: relative;
  padding-top: toRem(40);
  padding-bottom: toRem(120);
  width: 100%;
  overflow-x: hidden;
}

.section__title {
  margin: 0 $mobileBodyMargin toRem(56);
  max-width: toRem(235);
}

.section__article {
  display: flex;
  flex-direction: row;

  padding: 0 $mobileBodyMargin toRem(80);
  margin-top: toRem(40);
  margin-bottom: toRem(80);

  border-bottom: 1px solid var(--blackChocolate-500);

  &:last-of-type {
    border-bottom: unset;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.section__article__text__container {
  margin-left: toRem(25);
  padding-top: toRem(5);
}

.section__article__title {
  color: var(--rufous-500);
  font-size: toRem($textSizeLarge);
  
  margin: 0 0 $mobileBodyMargin * 2;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section__schedules__dialog__overlay {
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  inset: 0;
  animation: overlayShow 400ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.section__schedules__dialog__content {
  width: 85vw;
  min-height: toRem(200);
  position: fixed;
  top: 50%;
  left: 50%;
  padding: $mobileBodyMargin * 2 $mobileBodyMargin;
  transform: translate(-50%, -50%);

  background-color: var(--ivory-100);

  border-radius: $mobileBodyMargin;

  animation-timing-function: cubic-bezier(.17,.67,.71,.76);
  animation-duration: .2s;
  animation-name: contentShow;

  & > h2 {
    margin-left: 0;
    font-size: toRem($textSizeLarge);
    margin-bottom: toRem(20);
    color: var(--rufous-500);
    font-size: toRem(35);
  }

  & > div:last-of-type {
    margin-bottom: toRem(40);
  }

  & > div p {
    font-weight: var(--fontSemibold);
  }
}

.section__schedules__dialog__content--masses {
  & > p {
    margin-top: 0;
    color: var(--rufous-500);
    font-size: toRem(35);
  }

  & > div {
    font-weight: var(--fontSemibold);
  }
}

/* Variable used in section__schedules__card and section__schedules__card__decoration */
$cardWidth: toRem(200);
$cardsGap: $mobileBodyMargin * 2;

:export {
  cardWidth: $cardWidth;
  cardsGap: $cardsGap;
}

.section__schedules__container {
  width: max-content;
  display: flex;
  gap: $cardsGap;
  margin: toRem(150) 0 toRem(120);

  & > div:first-of-type article::before {
    display: none;
  }

  & > div:last-of-type article::after {
    display: none;
  }
}

.section__schedules__card__container {
  position: relative;
  width: max-content;

  &:nth-child(even) .section__schedules__card__rounded__decoration {
    top: -100%;
    transform: rotate(180deg);
  }

  &:last-of-type .section__schedules__card__rounded__decoration {
    display: none;
  }
}

.section__schedules__card {
  width: $cardWidth;
  height: toRem(120);
  padding: $mobileBodyMargin * 2;

  box-shadow: 0px 0 5px 1px rgba(0, 0, 0, .1);
  border-radius: toRem(20);
  background-color: var(--ivory-100);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $mobileBodyMargin;
  position: relative;

  & > img {
    display: block;
    width: toRem(22);
    height: auto;
  }

  & > p {
    text-transform: capitalize;
    font-family: $titleFont;
    font-size: toRem($textSizeLarge);
  }

  @include schedules-card-decoration(before, top);
  @include schedules-card-decoration(after, bottom);
}

.section__schedules__card__decoration {
  width: toRem(300);
  height: toRem(120);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: toRem(300);
    height: toRem(120);
    border: 2px solid rgba(194, 193, 165, .25);
    border-color: rgba(194, 193, 165, .25) transparent transparent transparent;
    border-radius: 50%/100% 100% 0 0;
    transform: rotate(180deg) translateX(calc($cardWidth / 2 * -1));
  }
}

.section__schedules__card__rounded__decoration {
  position: absolute;
  left: 50%;
  width: calc(100% + $cardsGap);
  height: 100%;
}

.section--communities {
  margin-top: toRem(120);

  &::after {
    display: none;
  }
}

.section__communities__text {
  padding: $mobileBodyMargin;

  & > p {
    margin-bottom: toRem(74);
  }
}

.section__communities__accordion {
  border-top: 1px solid var(--blackChocolate-500);
  
  height: max-content;

  &:last-of-type {
    border-bottom: 1px solid var(--blackChocolate-500);
  }
}

.section__communities__accordion__trigger {
  font-family: $titleFont;
  font-size: toRem($textSizeLarge);
  text-transform: uppercase;
  text-align: left;
  line-height: 1;

  background-color: transparent;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: toRem(50) 0;

  & > img {
    display: block;
    width: toRem(32);
    height: auto;
    
    transform-origin: center;
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  &[data-state="open"] > img {
    transform: rotate(45deg);
    transform-origin: center;
  }
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    height: var(--radix-accordion-content-height);
  }
  to {
    opacity: 0;
    height: 0;
  }
}

.section__communities__accordion__content {
  &[data-state="open"] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  &[data-state="closed"] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  & > div {
    padding-bottom: toRem(55);
  }
}

.section__communities__accordion__content__address {
  max-width: 90%;
}

.pastorals__wrapper {
  margin: toRem(193) 0;
  width: 100%;
  padding: toRem(82) 0;

  position: relative;

  &::before, &::after {
    content: '';
    position: absolute;
    width: 50%;
    padding: 2px;
    
    background-color: var(--rufous-500);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }
}

.pastorals__wrapper__text {
  font-size: $textSizeLarge;
  text-transform: uppercase;
  text-align: center;
  
  max-width: 90%;
  margin-inline: auto;
}

.pastorals__card {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  padding: 0 $mobileBodyMargin;
  margin-bottom: toRem(200);

  &.row {
    flex-direction: row;
    
    & > p::after {
      right: -$mobileBodyMargin;
    }
  }

  &.row-reverse {
    flex-direction: row-reverse;

    & > p::after {
      left: -$mobileBodyMargin;
    }
  }
}

.pastorals__card__image {
  position: relative;
  width: auto;
  max-width: 50%;
  height: toRem(157);
  
  filter: saturate(0%);
}

.pastorals__card__text {
  position: relative;
  width: max-content;

  font-family: $titleFont;
  font-weight: var(--fontSemibold);
  font-size: toRem($titleSizeSmall);
  text-transform: uppercase;
  color: var(--ivory-900);
  opacity: 0.3;

  &::after {
    content: '';
    position: absolute;
    bottom: -$mobileBodyMargin;
    width: calc(50% + $mobileBodyMargin);
    height: 1px;
    
    background-color: var(--rufous-500);
  }
}

.pastoral__cards--catechism {
  width: toRem(180);
  height: toRem(200);
}

.pastoral__cards--welcomed {
  width: toRem(144);
  height: toRem(300);
}

.pastoral__cards--music {
  width: toRem(220);
  max-width: 100%;
  height: toRem(178);
}

.pastoral__cards--liturgy {
  width: toRem(200);
  max-width: 100%;
  height: toRem(300);
}

.footer {
  background-color: var(--rufous-500);
  color: var(--ivory-100);
  
  padding-bottom: $mobileBodyMargin * 2;

  & .footer__address__container {
    padding: $mobileBodyMargin * 2 $mobileBodyMargin;
  }

  @media screen and (min-width: $largeScreen) {
    & > div {
      display: flex;
      flex-direction: row;
    }
  }
}

.footer__entityName {
  font-family: $titleFont;
  font-weight: var(--fontRegular);
  font-size: toRem($titleSizeSmall);
  text-transform: uppercase;
  
  width: 85%;
  margin-bottom: $mobileBodyMargin;
}

.footer__address {
  font-style: normal;
  font-size: toRem(14);

  & > div {
    display: flex;
    align-items: center;
    
    margin-bottom: $mobileBodyMargin;
  }
}

.footer__address__icons {
  display: block;
  width: toRem(25);
  height: auto;
  margin-right: $mobileBodyMargin * 2;
}

.footer__address__icons--mobile {
  width: auto;
  height: toRem(25);
  
  transform: translateX(15%);
}

.footer__address__icons--email {
  width: auto;
  height: toRem(25);
  margin-right: 10px;
  
  transform: translateY(10%);
}

.footer__socialmedia {
  margin-top: toRem(15);
  
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--textSemibold);

  & > a {
    display: block;
    padding: toRem(15) 0;
    
    border-top: 3px solid var(--ivory-100);
    border-bottom: 3px solid var(--ivory-100);
  }

  & > a:nth-child(2) {
    border: unset;
  }
}

.footer__copy {
  display: block;
  margin-top: toRem(36);
  
  font-size: toRem(8);
  text-transform: uppercase;
  text-align: center;

  & > span {
    display: block;
    margin-bottom: toRem(5);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & a {
    border-bottom: 1px dotted var(--ivory-100);
    font-weight: 600;
  }
}