@import './utilities/variables';
@import './utilities/functions';
@import './utilities/mixins';

.content__separator {
  height: 1px;
  background-color: var(--blackChocolate-500);
}

.header {
  border-bottom: 1px solid var(--blackChocolate-500);
  margin-bottom: toRem(257);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $mobileBodyMargin;
}

.header__hero__container {
  padding: toRem(20) $mobileBodyMargin toRem(84);
  position: relative;
}

.header__hero__banner {
  width: toRem(220);
  height: toRem(225);
  background-image: url('/images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: calc(220px / 3);
  filter: contrast(.35);
  position: absolute;
  top: toRem(20);
  right: 0;
  z-index: -2;
}

.header__hero__citation {
  text-transform: uppercase;
  font-size: $textSizeLarge;
  text-align: center;

  width: 90vw;
  max-width: toRem(313);
  margin: toRem(84) auto toRem(50);

  & > span {
    font-weight: 600;
    font-style: italic;

    display: inline-block;
    width: max-content;
    height: max-content;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      width: 110%;
      height: 100%;

      background-image: url('/images/brush-line-1.png');
      background-repeat: no-repeat;
      background-size: 100% 70%;
      background-position-y: 150%;
    }
  }
}

.header__hero__citation__author {
  text-transform: capitalize;
  font-family: $titleFont;
  font-size: toRem(32);
  font-weight: 400;
  text-align: center;
}

.section {
  @include section-decoration;
  
  position: relative;
  padding-top: toRem(40);
  padding-bottom: toRem(120);
}

.section__title {
  margin: 0 $mobileBodyMargin toRem(56);
  max-width: toRem(235);
}

.section__scrollArea__root {
  width: 100%;
  height: 62vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

.section__scrollArea__viewport {
  width: 100%;
  height: 100%;
}

.section__article {
  display: flex;
  flex-direction: row;
  padding: 0 $mobileBodyMargin;
  margin-top: calc($mobileBodyMargin * 2);
  margin-bottom: toRem(120);
}

.section__article__text__container {
  margin-left: toRem(25);
  padding-top: toRem(5);
}

.section__article__title {
  color: var(--rufous-500);
  font-size: toRem($textSizeLarge);
  margin: 0 0 $mobileBodyMargin * 2;
}