@import '../../sass/utilities/variables';
@import '../../sass/utilities/functions';

.number__container {
  width: max-content;
  height: max-content;
  position: relative;

  &::before {
    content: '';
    width: toRem(42);
    height: toRem(42);
    background-color: var(--sage-500);
    border-radius: 50%;
    
    position: absolute;
    right: 25%;
    bottom: 25%;
    transform: translate(50%, 50%);
    z-index: -1;
  }

  & > span {
    font-size: toRem(42);
    font-weight: 400;
    font-family: $titleFont;
    color: var(--rufous-500);
  }

  @media screen and (min-width: $largeScreen) {
    &::before {
      width: toRem(156);
      height: toRem(156);
    }
    
    & > span {
      font-size: toRem(180);
    }
  }
}