@mixin border-default {
  border: 2px solid var(--blackChocolate-500);
  border-radius: toRem(20);
  transition: border 0.2s ease-in-out;

  &:hover {
    border-color: var(--rufous-500);
  }
}

.sectionDecoration {
  content: '';
  position: absolute;
  width: toRem(60);
  height: toRem(10);

  background-color: var(--rufous-500);
}

@mixin section-decoration {
  &::before {
    @extend .sectionDecoration;
    top: 0;
    left: $mobileBodyMargin;
  }

  &::after {
    @extend .sectionDecoration;
    bottom: 0;
    right: $mobileBodyMargin;
  }
}
