@mixin border-default {
  border: 2px solid var(--blackChocolate-500);
  border-radius: toRem(10);
  transition: border 0.2s ease-in-out;

  &:hover {
    border-color: var(--rufous-500);
  }
}

.sectionDecoration {
  content: '';
  position: absolute;
  width: toRem(60);
  height: toRem(10);

  background-color: var(--rufous-500);
}

@mixin section-decoration {
  &::before {
    @extend .sectionDecoration;
    top: 0;
    left: $mobileBodyMargin;
  }

  &::after {
    @extend .sectionDecoration;
    bottom: 0;
    right: $mobileBodyMargin;
  }
}

@mixin schedules-card-decoration($pseudoElement, $position) {
  &::#{$pseudoElement} {
    content: '';
    position: absolute;
    left: 50%;
    #{$position}: -7px;
    transform: translateX(-50%);
    width: toRem(37);
    height: 7px;
    background-color: var(--rufous-500);
    z-index: 1;
  }
}
