$smallScreen: 600px;
$mediumScreen: 768px;
$largeScreen: 1200px;

$mobileBodyMargin: 10px;
$desktopBodyMargin: 120px;

$textFont: 'Open Sans';
$textSizeSmall: 18;
$textSizeLarge: 24;
$textWeightDefault: 300;    

$titleFont: 'Yanone Kaffeesatz';
$titleSizeSmall: 42;
$titleSizeLarge: 72;
$titleWeightDefault: 400;