$svgSize: 20;
$svgPadding: 10;
$closeMenuTopPosition: 10;
$fontSize: 16;

.navBar__container {
  position: relative;
}

.trigger__open__buton {
  display: block;
  position: absolute;
  top: 0;
  width: toRem(40);
  max-width: toRem(40);
  height: toRem(40);
  max-height: toRem(40);

  @media screen and (min-width: $largeScreen) {
    display: none;
  }
}

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--rufous-500);

  position: absolute;
  top: 0;
  padding-top: toRem(calc($svgSize + $svgPadding + $closeMenuTopPosition + $fontSize * 3));

  transition: transform .5s ease-in-out;
  transform: translateY(-110%);

  &[data-mobile-open="true"] {
    transform: translateY(0%);
  }

  & > li {
    @include border-default;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: var(--ivory-100);
    border-radius: 0;

    display: block;
    width: 100%;

    &:hover {
      border-color: var(--ivory-100);
    }
  }

  & > li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: toRem(calc(16 * 4.25));
    
    font-size: toRem(16);
    color: var(--ivory-100);
    font-weight: 600;

    &:hover {
      color: var(--ivory-100);
    }
  }

  & > li:first-of-type {
    border-top: 2px solid var(--ivory-100);
  }

  &:last-child a[data-border="true"] {
    border: unset;
    padding: inherit;
    font: inherit;
    font-weight: 600;
  }

  @media screen and (min-width: $largeScreen) {
    transform: translateY(0%);
    background-color: transparent;
    flex-direction: row;
    gap: toRem(40);
    position: relative;
    height: max-content;
    width: max-content;
    padding-top: 0;

    & > li a {
      color: var(--blackChocolate-500);
      font-size: toRem(14);
      font-weight: 300;
      height: max-content;

      &:hover {
        color: inherit;
      }
    }

    &:last-child a[data-border="true"] {
      @include border-default;
      padding: toRem(13) toRem(40);
      border-radius: toRem(56);

      &:hover {
        border-color: var(--blackChocolate-500);
      }
    }
  }
}

.navigation__closeList {
  padding: toRem($svgPadding);
  line-height: 0;

  border-radius: 50%;
  border: 2px solid var(--ivory-100);
  background-color: transparent;

  position: absolute;
  top: toRem($closeMenuTopPosition);
  right: toRem($svgPadding);

  & svg {
    width: toRem($svgSize);
    height: toRem($svgSize);
    color: var(--ivory-100);
  }

  @media screen and (min-width: $largeScreen) {
    display: none;
  }
}