@import '../../sass/utilities/functions';
@import '../../sass/utilities/variables';

.card {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 $mobileBodyMargin;
  margin-bottom: toRem(200);

  &.row {
    flex-direction: row;
    
    & > p::after {
      right: -$mobileBodyMargin;
    }
  }

  &.row-reverse {
    flex-direction: row-reverse;

    & > p::after {
      left: -$mobileBodyMargin;
    }
  }
}

.card__image {
  position: relative;
  width: auto;
  max-width: 50%;
  height: toRem(157);
  filter: saturate(0%);
}

.card__text {
  width: max-content;
  font-family: $titleFont;
  font-weight: var(--titleSemibold);
  font-size: toRem($titleSizeSmall);
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--ivory-900);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -$mobileBodyMargin;
    width: calc(50% + $mobileBodyMargin);
    height: 1px;
    background-color: var(--rufous-500);
  }
}